@CHARSET "ISO-8859-1";

html, body {
	background-color:white;
	margin: 0;
	padding: 0;
	height: 100%;
}

#page {
	width: 820px;
	margin: 0 auto;
	min-height: 100%;
	position:relative;
}

h2 {
	color:#30C6C6;
}

a:hover {
	color:#30C6C6;
}

h3.lien {
	color:#30C6C6;
	font-size:40pt;
}

#menu {
	border: 12px solid #ccc;
	border-width: 1px;
	color: black;
	margin-left:1px;
	margin-top:3px;
	margin-bottom: 0; 
	width:200px;
	border-radius: 7px; 
	background:url(images/fond-menu.png) repeat-x;
	padding:-2px;
	position:relative;
	float:left; 
	
}

/*ol, ul {
	margin: 0px;
	padding-left: 8px;
	padding-top:2px;
	color: #656565;	
	list-style: none;
}
li {
	margin: 0px;
	padding: 0px;
	 padding-left:10px;
	 margin-left: 5px;
    background-position:0px 7px;
	 padding-top: 2px;
	 padding-bottom: 2px;
}*/

#contenu {
	border: 12px solid #ccc;
	border-width: 1px;
	color: black;
	width:590px;
	background-color:#5892B5;
	padding:5px;
	margin-left:230px;	
	margin-right:0px;
	margin-top:3px;
	border-radius: 10px;
	margin-bottom: 0; 
	
}

#bas {
	border: 12px solid #ccc;
	border-width:1px;
	background-color:#5892B5;
	padding:5px;
	margin-left:230px;	
	margin-right:3px;
	margin-bottom:30px;
	border-radius: 10px; 
	clear: both;	
}


#haut {
	border: 12px solid #ccc;
	border-width:1px;
	border-radius: 10px;
	background-color:#5892B5;
	top:0;
	width: 100%;
	margin-top: 0;
	padding:5px;
}

.navigation { 
      margin: 0; 
      padding: 0; 
      list-style: none; 
      background: #000; 
      color: #fff; 
      width: 200px; 
      font: 1.2em "Trebuchet MS", sans-serif; 
      } 
.navigation a, .navigation span { 
      display: block; 
      padding: 4px 10px; 
      color: #fff; 
      text-decoration: none; 
      background: #000 url(../images/menu-item.png) left bottom no-repeat; 
      } 
.navigation .toggleSubMenu a, .navigation .toggleSubMenu span { 
      background-image: url(../images/menu-item-deroule.png); 
      } 
.navigation .open a, .navigation .open span { 
      background-image: url(../images/menu-item-enroule.png); 
      } 
.navigation a:hover, .navigation a:focus, .navigation a:active { 
      text-decoration: underline; 
      } 
.navigation .subMenu { 
      font-size: .8em; 
      background: #ccc url(../images/subMenu.png) 0 0 repeat-x; 
      font-size: .9em; 
      margin: 0; 
      padding: 0; 
      border-bottom: 1px solid #666; 
      } 
.navigation ul.subMenu a { 
      background: none; 
      padding: 3px 20px; 
      }	
      
.boxTitleRight {
	background: #FFFFFF url(images/fond-categories.gif) no-repeat top;
	color:#FFFFFF;
	text-align:center;
	padding:0px;
	}


