@CHARSET "ISO-8859-1";

html, body {
	background-color:white;
	margin: 0;
	padding: 0;
	height: 100%;
}

#page {
	width: 820px;
	margin: 0 auto;
	min-height: 100%;
	position:relative;
}

h2 {
	color:#30C6C6;
}

a {
	color:#30C6C6;
}

h3.lien {
	color:#30C6C6;
	font-size:40pt;
}

#menu {
	border: 12px solid #000;
	border-width: 1px;
	color: black;
	background-color:#F5F5DC;
	padding:5px;
	margin-left:3px;
	margin-top:3px;
	width:200px;
	position:relative;
	float:left; 
	border-radius: 10px; 
	
}

#contenu {
	border: 12px solid #000;
	border-width: 1px;
	color: black;
	background-color:#F5F5DC;
	padding:5px;
	margin-left:230px;	
	margin-right:3px;
	margin-bottom:30px;
	margin-top:3px;
	border-radius: 10px; 
	
}

#bas {
	border: 12px solid #000;
	border-width:1px;
	background-color:#F5F5DC;
	padding:5px;
	margin-left:230px;	
	margin-right:3px;
	margin-bottom:30px;
	border-radius: 10px; 	
}

#haut {
	border: 12px solid #000;
	border-width:1px;
	border-radius: 10px;
	background-color:white;
	top:0;
	width: 100%;
}

.navigation { 
      margin: 0; 
      padding: 0; 
      list-style: none; 
      background: #000; 
      color: #fff; 
      width: 200px; 
      font: 1.2em "Trebuchet MS", sans-serif; 
      } 
.navigation a, .navigation span { 
      display: block; 
      padding: 4px 10px; 
      color: #fff; 
      text-decoration: none; 
      background: #000 url(../images/menu-item.png) left bottom no-repeat; 
      } 
.navigation .toggleSubMenu a, .navigation .toggleSubMenu span { 
      background-image: url(../images/menu-item-deroule.png); 
      } 
.navigation .open a, .navigation .open span { 
      background-image: url(../images/menu-item-enroule.png); 
      } 
.navigation a:hover, .navigation a:focus, .navigation a:active { 
      text-decoration: underline; 
      } 
.navigation .subMenu { 
      font-size: .8em; 
      background: #ccc url(../images/subMenu.png) 0 0 repeat-x; 
      font-size: .9em; 
      margin: 0; 
      padding: 0; 
      border-bottom: 1px solid #666; 
      } 
.navigation ul.subMenu a { 
      background: none; 
      padding: 3px 20px; 
      }	



