@CHARSET "ISO-8859-1";

html, body {
	background-color:white;
	margin: 0;
	padding: 0;
	height: 100%;
}

#page {
	width: 820px;
	margin: 0 auto;
	position:relative;
}

h2 {
	color:#30C6C6;
}

a {
	text-decoration:none;
	color:grey;
}

a:hover {
	color:#30C6C6;
}

h3.lien {
	color:#30C6C6;
	font-size:40pt;
}

#menu {
	border: 12px solid #ccc;
	border-width: 1px;
	color: black;
	margin-left:1px;
	margin-top:10px;
	margin-bottom: 0; 
	width:200px;
	min-height:600px;
	border-radius: 7px; 
	background:url(images/fond-menu.png) repeat-x;
	padding:-2px;
	padding-bottom:5px;
	position:relative;
	float:left; 
	
} 

ol, ul {
	margin: 0px;
	padding-left: 15px;
	padding-top:2px;
	color: #656565;	
	list-style-image : url(images/fleche.gif);
	background-position:0px 7px;
}

/*li {
	background:transparent url(../styleImages/template/pointer1.gif) no-repeat;
    background-position:0px 7px;
}*/


#contenu {
	border: 12px solid #ccc;
	border-width: 1px;
	color: black;
	width:590px;
	min-height:600px;
	/*background-color:#5892B5;*/
	background:url(images/fond-menu.png) repeat-x;
	padding:5px;
	margin-left:230px;	
	margin-right:0px;
	margin-top:10px;
	border-radius: 10px;
	margin-bottom: 0; 
	
}

#bas {
	border: 12px solid #ccc;
	border-width:1px;
	background-color:#5892B5;
	padding:5px;
	width:100%;
	margin-top:5px;
	margin-bottom:30px;
	border-radius: 10px; 
	clear: both;	
}


#haut {
	border: 12px solid #ccc;
	border-width:1px;
	border-radius: 10px;
	background-color:#5892B5;
	top:0;
	width: 100%;
	margin-top: 0;
	padding:5px;
}

#haut a {
	color:white;
}

#haut a:hover {
	color:grey;
}
      
.boxTitleRight {
	background: #FFFFFF url(images/fond-categories.gif) no-repeat top;
	color:#FFFFFF;
	text-align:center;
	padding:0px;
	}

.cartback {
	background-color: #cbe2ec;
	width: 590px;
	margin-top:10px;
	margin-left:230px;
	padding-left:10px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-radius: 10px;
}
.carttable {
	border: 0;
	width: 590px;
}
.carttable td {
	vertical-align: middle;
}

.cartarrow {
	vertical-align: middle;
	margin-bottom: 1px;
}

.tableau {
	border: 0;
	width: 100%;
}
.tableau td {
	vertical-align: middle;
}

