@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
}

body {
	background-color:white;
	margin:0;
	padding:0;
}

h2 {
	color:blue;
}

h3.lien {
	color:blue;
	font-size:40pt;
}


#menu {
	border: 12px solid #000;
	border-width: 2px 2px 2px;
	color: black;
	background-color:white;
	padding:5px;
	margin:auto;
	width:200px;
	float:left; 
	position:fixed;
	
}

#contenu {
	border: 12px solid #000;
	border-width: 2px 2px 2px;
	color: black;
	background-color:white;
	padding:5px;
	margin-left:230px;	
	
}

#bas {
	border: 12px solid #000;
	border-width: 2px 2px 2px;
	color: black;
	background-color:white;
	padding:5px;
	margin:auto;
}

