@CHARSET "ISO-8859-1";

#page {
	width: 1024px;
	margin: 0 auto;
	position:relative;
}

h2 {
	color:#30C6C6;
}

a {
	text-decoration:none;
	color:grey;
}

a:hover {
	color:#30C6C6;
}

h3.lien {
	color:#30C6C6;
	font-size:40pt;
}


ol, ul {
	margin: 0px;
	padding-left: 15px;
	padding-top:2px;
	color: #656565;	
	list-style-image : url(images/fleche.gif);
	background-position:0px 7px;
}

#contenu {
	border: 12px solid #ccc;
	border-width: 1px;
	color: black;
	width:795px;
	background:url(images/fond-menu.png) repeat-x;
	padding:5px;
	border-radius: 6px;
	
}

#bas {
	border: 12px solid #ccc;
	border-width:1px;
	background-color:#5892B5;
	padding:5px;
	width:100%;
	margin-top:5px;
	margin-bottom:30px;
	border-radius: 6px; 
	clear: both;	
}


#haut {
	border: 12px solid #ccc;
	border-width:1px;
	border-radius: 6px;
	background-color:#5892B5;
	top:0;
	width: 100%;
	margin-top: 0;
	padding:5px;
}

#haut a {
	color:white;
}

#haut a:hover {
	color:grey;
}

#menu {
	border: 12px solid #ccc;
	border-width: 1px;
	color: black;
	margin-bottom:5px;
	margin-top:2px;
	margin-right:15px; 
	margin-left:-2px;
	width:200px;
	border-radius: 6px; 
	background:url(images/fond-menu.png) repeat-x; 
}

.menu {
	background: #FFFFFF url(images/fond-categories.gif) no-repeat top;
	color:#FFFFFF;
	text-align:center;
	padding:2px;
	}

.panier {
	background-color: #cbe2ec;
	width: 795px;
	padding-left:10px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-radius: 6px;
	margin-bottom:10px;
}


.tableaupanier {
	width: 795px;
}
.tableaupanier td {
	vertical-align: middle;
}

.fleche {
	vertical-align: middle;
	margin-bottom: 1px;
}

.tableau_entete {
	width: 100%;
	padding-right:5px;
}
.tableau_entete td {
	vertical-align: middle;
	text-align:right;
}

.tableau_page {
	padding:2px;	
}

.tableau_page td {
	vertical-align:top;
}
	
	
}